<template>
  <div class="icon-container">
    <el-button type="primary">
      <el-icon :size="120"> <font-awesome-icon icon="edit" /></el-icon>
    </el-button>
    <el-button type="primary">
      <el-icon :size="120"> <font-awesome-icon icon="edit" /></el-icon>
    </el-button>
    <el-button type="primary">
      <el-icon :size="120"> <font-awesome-icon icon="edit" /></el-icon>
    </el-button>
    <el-button type="primary">
      <el-icon :size="120"> <font-awesome-icon icon="edit" /></el-icon>
    </el-button>
  </div>
</template>
<script>
// @ is an alias to /src
// import NavBar from '../components/NavBar.vue'
export default {
  name: 'Home',
  components: {

  },
  methods: {
    toggleNav () {
      this.$store.commit('SET_NavBar_Status', !this.$store.state.navBarStatus);
    }
  },

}
</script>
<style lang="scss" scoped>
.icon-container {
  display: flex;
  flex-direction: column;
  margin: 60px;
}
</style>