<template>
  <div class="container">
    <div class="detailArea">
      <el-dialog v-model="dialogVisible" title="Course Detail" :fullscreen="true">
        <div class="formArea">
          <el-form ref="form" :model="detailInfo" :rules="rules" label-width="80px" style="display: flex">
            <div class="area">
              <h2>課程資訊</h2>

              <div>
                <el-form-item label="課程名稱" prop="Name">
                  <el-input v-model="detailInfo.courseName"></el-input>
                </el-form-item>
                <el-form-item label="年級" prop="grade">
                  <el-input-number v-model="detailInfo.grade"></el-input-number>
                </el-form-item>
                <el-form-item label="課程類型" prop="courseTypeName">
                  <el-input v-model="detailInfo.courseTypeName"></el-input>
                </el-form-item>
                <el-form-item label="上課星期" prop="courseTime.weekDay">
                  <el-input v-model="detailInfo.courseTime.weekDay"></el-input>
                </el-form-item>
                <el-form-item label="開始時間" prop="courseTime.startTime">
                  <el-input v-model="detailInfo.courseTime.startTime"></el-input>
                </el-form-item>
                <el-form-item label="結束時間" prop="courseTime.endTime">
                  <el-input v-model="detailInfo.courseTime.endTime"></el-input>
                </el-form-item>
                <el-form-item label="上課老師" prop="teacherName">
                  <el-input v-model="detailInfo.teacherName"></el-input>
                </el-form-item>             
                <el-form-item label="班別" prop="classType">
                  <el-radio-group v-model="detailInfo.classType">
                    <el-radio :label="1">進度班</el-radio>
                    <el-radio :label="2">複習班</el-radio>
                    <el-radio :label="3">家教班</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="課程類型" prop="courseType">
                  <el-radio-group v-model="detailInfo.courseType">
                    <el-radio :label="1">主科</el-radio>
                    <el-radio :label="2">副科</el-radio>
                  </el-radio-group>
                </el-form-item>               
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">修改</el-button>
                </el-form-item>
              </div>
            </div>
          </el-form>
        </div>
      </el-dialog>
    </div>
    <div class="resultArea">
      <el-table :data="form" style="width: 100%">
        <el-table-column label="課程名稱">
          <template #default="scope">
            <span style="cursor: pointer; color: rgb(0, 161, 254)" href="" @click="openCourseDailog(scope.row)">{{
                scope.row.courseName
            }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="grade" label="年級"> </el-table-column>
        <el-table-column prop="classTypeName" label="班別">
        </el-table-column>
        <el-table-column prop="courseTypeName" label="課程類型">
        </el-table-column>
        <el-table-column prop="courseTime.weekDay" label="上課星期"> </el-table-column>
        <el-table-column prop="courseTime.startTime" label="開始時間"> </el-table-column>
        <el-table-column prop="courseTime.endTime" label="結束時間"> </el-table-column>
        <el-table-column prop="teacherName" label="上課老師"> </el-table-column>

        <el-table-column fixed="right" label="操作" width="120">
          <template #default="scope">
            <el-button @click.prevent="deleteRow(scope.$index, tableData)" type="text" size="small">
              移除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { ElMessage } from "element-plus";

export default {
  name: "CourseMgmt",
  methods: {
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    getAllStudent() {
      axios.get("https://localhost:5001/api/Course/GetAll").then((response) => {
        this.form = response.data;
      });
    },
    openCourseDailog(row) {
      console.log(row);
      this.detailInfo = row;
      this.dialogVisible = true;
      console.log(this.dialogVisible);
    },
    handleClose() {
      this.dialogVisible = false;
    },
    onSubmit(){
      axios
        .put(`https://localhost:5001/api/Course/Put/${this.detailInfo.id}`, 
          this.detailInfo,
        )
        .then(() => {
          ElMessage({
            message: "修改成功!",
            type: "success",
          });
        })
        .catch((response)=>{
          ElMessage({
            message: `修改失敗! ${response.data}`,
            type: "success",
          });
        });
      this.dialogVisible = false;
    }    
  },
  computed: {
    showData() {
      var arr = [];
      arr.push(this.form);
      return arr;
    },
  },
  created() {
    this.getAllStudent();
  },
  data() {
    return {
      form: [
        {

        },
      ],
      tableData: [],
      detailInfo: [],
      dialogVisible: false,
      rules: {
        CourseName: [
          {
            required: true,
            message: "請輸入課程名稱",
            trigger: "blur",
          },
        ],
        Grade: [
          {
            required: true,
            message: "請輸入年級",
            trigger: "blur",
          },
        ],
        CourseType: [
          {
            required: true,
            message: "請輸入課程類型",
            trigger: "blur",
          },
        ],
        ClassType: [
          {
            required: true,
            message: "請輸入班別",
            trigger: "blur",
          },
        ],
        WeekTime: [
          {
            validator: this.courstTimeValidate,
            trigger: "blur",
          },
        ],
        TeacherId: [
          {
            validator: this.teacherValidate,
            trigger: "blur",
          },
        ],
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  height: 100%;
}

.formArea {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
</style>
