<template>
  <div class="container">
    <div class="formArea">
      <el-form ref="form" :model="course" :rules="rules" label-width="80px">
        <el-form-item label="課程名稱" prop="CourseName">
          <el-input v-model="course.CourseName"></el-input>
        </el-form-item>

        <el-form-item label="年級" prop="Grade">
          <el-input-number v-model="course.Grade"></el-input-number>
        </el-form-item>

        <el-form-item label="班別" prop="ClassType">
          <el-radio-group v-model="course.ClassType">
            <el-radio :label="1">進度班</el-radio>
            <el-radio :label="2">複習班</el-radio>
            <el-radio :label="3">家教班</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="課程類型" prop="CourseType">
          <el-radio-group v-model="course.CourseType">
            <el-radio :label="1">主科</el-radio>
            <el-radio :label="2">副科</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="上課時間" prop="WeekTime">
          <el-button class="right" type="primary" @click="addWeekTime">
            <i style="font-size: 15pt" class="el-icon-plus" />
          </el-button>

          <div v-for="item in course.CourseTime" :key="item.weekDay">
            <div class="between">
              <el-select
                class="weekDay"
                v-model="item.WeekDay"
                placeholder="星期"
              >
                <el-option
                  v-for="day in weekOption"
                  :key="day.value"
                  :label="day.label"
                  :value="day.value"
                >
                </el-option>
              </el-select>
            </div>

            <p></p>
            <el-time-select
              v-model="item.StartTime"
              placeholder="開始時間"
              start="08:00"
              step="00:10"
              end="21:00"
            >
            </el-time-select>
            ~
            <el-time-select
              v-model="item.EndTime"
              :min-time="item.StartTime"
              placeholder="結束時間"
              start="08:00"
              step="00:10"
              end="21:00"
            >
            </el-time-select>
          </div>
        </el-form-item>
        <el-form-item label="上課老師" prop="TeacherId">
          <el-select
            v-model="course.TeacherId"
            filterable
            reserve-keyword
            placeholder="搜尋"
            :loading="loading"
          >
            <el-option
              v-for="item in teacherList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">新增</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { ElMessage } from "element-plus";
export default {
  CourseName: "CourseMgmt",
  created() {
    this.getTeacherList();
  },
  methods: {
    getTeacherList() {
      axios.get("https://localhost:5001/api/Teacher/Getall").then((resp) => {
        this.teacherList = resp.data;
      });
    },
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    onSubmit() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          // alert("submit!");
          // var self = this;
          axios
            .post("https://localhost:5001/api/course/Post", this.course)
            .then(() => {
              ElMessage({
                message: "新增成功!",
                type: "success",
              });
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    addWeekTime() {
      this.course.CourseTime.push({
        WeekDay: null,
        StartTime: "",
        EndTime: "",
      });
    },
    courstTimeValidate(rule, value, callback) {
      if (
        this.course.CourseTime[0].WeekDay == null ||
        this.course.CourseTime[0].StartTime == "" ||
        this.course.CourseTime[0].EndTime == ""
      ) {
        console.log(rule, value, callback);
        callback(new Error("請輸入課程時間"));
      }
      return true;
    },
    teacherValidate(rule, value, callback) {
      if (this.course.TeacherId == "") {
        console.log("我近來嘞");
        callback(new Error("請輸入上課老師"));
      }
      return true;
    },
  },
  computed: {
    showData() {
      var arr = [];
      arr.push(this.form);
      return arr;
    },
  },
  data() {
    return {
      course: {
        CourseName: "",
        Grade: 1,
        ClassType: null,
        CourseType: null,
        CourseTime: [
          {
            WeekDay: null,
            StartTime: "",
            EndTime: "",
          },
        ],
        TeacherId: "",
      },
      teacherList: {},
      weekOption: [
        { lable: "星期一", value: "1" },
        { lable: "星期二", value: "2" },
        { lable: "星期三", value: "3" },
        { lable: "星期四", value: "4" },
        { lable: "星期五", value: "5" },
        { lable: "星期六", value: "6" },
        { lable: "星期日", value: "0" },
      ],
      rules: {
        CourseName: [
          {
            required: true,
            message: "請輸入課程名稱",
            trigger: "blur",
          },
        ],
        Grade: [
          {
            required: true,
            message: "請輸入年級",
            trigger: "blur",
          },
        ],
        CourseType: [
          {
            required: true,
            message: "請輸入課程類型",
            trigger: "blur",
          },
        ],
        ClassType: [
          {
            required: true,
            message: "請輸入班別",
            trigger: "blur",
          },
        ],
        WeekTime: [
          {
            validator: this.courstTimeValidate,
            trigger: "blur",
          },
        ],
        TeacherId: [
          {
            validator: this.teacherValidate,
            trigger: "blur",
          },
        ],
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  height: 100%;
}
.formArea {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.el-date-editor {
  margin: 8px;
}
.weekDay {
  margin: 5px 0;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
}
</style>
