<template>
  <el-menu
    text-color="#000000"
    active-text-color="#00A1FE"
    class="navBar"
    :collapse="navBarStatus"
    :collapse-transition="false"
    :router="true"
  >
    <el-submenu index="1">
      <template v-slot:title> <i class="el-icon-user-solid"></i>學生資料管理</template>
      <el-menu-item index="StudentMgmt">       
        <template #title>新增學生資料</template>
      </el-menu-item>
      <el-menu-item index="StudentQuery">       
        <template #title>管理學生資料</template>
      </el-menu-item>
    </el-submenu>
    <el-submenu index="2">
      <template v-slot:title> <i class="el-icon-notebook-2"></i>課程資料管理</template>
      <el-menu-item index="CourseMgmt">       
        <template #title>新增課程資料</template>
      </el-menu-item>
      <el-menu-item index="CourseQuery">       
        <template #title>管理課程資料</template>
      </el-menu-item>
    </el-submenu>
    <el-menu-item index="Login">
      <i class="el-icon-notebook-2"></i>
      <template #title>Login Page</template>
    </el-menu-item>
     <el-submenu index="3">
      <template v-slot:title> <i class="el-icon-notebook-2"></i>上課老師管理</template>
      <el-menu-item index="TeacherMgmt">       
        <template #title>新增上課老師資料</template>
      </el-menu-item>
      <el-menu-item index="TeacherQuery">       
        <template #title>管理上課老師資料</template>
      </el-menu-item>
    </el-submenu>
   
    <el-menu-item index="4">
      <i class="el-icon-time"></i>
      <template #title>請假管理</template>
    </el-menu-item>
    <el-menu-item index="5">
      <i class="el-icon-money"></i>
      <template #title>額外金額</template>
    </el-menu-item>
  </el-menu>
</template>

<script>

export default {
  methods: {
    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    },
  },
  data () {
    return {

    }
  },
  computed:
  {
    navBarStatus: function () {
      return this.$store.state.navBarStatus;
    }
  }
}
</script>

<style lang="scss" scoped>
.navBar {
  height: 100%;
}
</style>