<template>
  <div class="container">
    <div class="detailArea">
      <el-dialog
        v-model="dialogVisible"
        title="Student Detail"
        fullscreen="true"
      >
        <div class="formArea">
          <el-form
            ref="form"
            :model="detailInfo"
            :rules="rules"
            label-width="80px"
            style="display: flex"
          >
            <div class="area">
              <h2>學生資訊</h2>

              <div>
                <el-form-item label="學生姓名" prop="Name">
                  <el-input v-model="detailInfo.name"></el-input>
                </el-form-item>
                <el-form-item label="性別" prop="Sex">
                  <el-radio-group v-model="detailInfo.sex">
                    <el-radio :label="1">男</el-radio>
                    <el-radio :label="2">女</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="學生家電" prop="Tel">
                  <el-input v-model="detailInfo.tel"></el-input>
                </el-form-item>
                <el-form-item label="學生手機" prop="Phone">
                  <el-input v-model="detailInfo.phone"></el-input>
                </el-form-item>
                <el-form-item label="家長姓名" prop="ParentsName">
                  <el-input v-model="detailInfo.parentsName"></el-input>
                </el-form-item>
                <el-form-item label="家長手機" prop="ParentsPhone">
                  <el-input v-model="detailInfo.parentsPhone"></el-input>
                </el-form-item>
                <el-form-item label="就讀學校" prop="School">
                  <el-input v-model="detailInfo.school"></el-input>
                </el-form-item>
                <el-form-item label="年級" prop="Grade">
                  <el-input-number v-model="detailInfo.grade"></el-input-number>
                </el-form-item>
                <el-form-item label="班別" prop="Class">
                  <el-input v-model="detailInfo.class"></el-input>
                </el-form-item>
                <el-form-item label="學生類型" prop="Type">
                  <el-radio-group v-model="detailInfo.type">
                    <el-radio :label="2">一般生</el-radio>
                    <el-radio :label="4">低收入戶</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="付款類型" prop="PayType">
                  <el-radio-group v-model="detailInfo.payType">
                    <el-row>
                      <el-radio :label="1">單月繳</el-radio>
                      <el-radio :label="2">雙月繳</el-radio>
                      <el-radio :label="4">季繳</el-radio>
                    </el-row>
                    <el-row>
                      <el-radio :label="8">半年繳</el-radio>
                      <el-radio :label="16">計次繳</el-radio>
                    </el-row>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="兄弟姊妹" prop="Sibling">
                  <el-input v-model="detailInfo.sibling"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">修改</el-button>
                </el-form-item>
              </div>
            </div>
            <div class="area">
              <h2>課程資訊</h2>

              <el-table :data="detailInfo.courseInfo" style="width: 100%">
                <el-table-column
                  prop="courseName"
                  label="課程名稱"
                  width="120px"
                />
                <el-table-column
                  prop="studentCourseStatus"
                  label="狀態"
                  width="180px"
                >
                  <template #default="scope">
                    <el-switch
                      v-model="scope.row.studentCourseStatus"
                      active-text="上課"
                      inactive-text="停課"
                      active-value="上課"
                      inactive-value="停課"
                    />
                  </template>
                </el-table-column>
                <el-table-column
                  prop="courseTime.weekDay"
                  label="上課星期"
                  width="120px"
                />
                <el-table-column
                  prop="courseTime.startTime"
                  label="開始"
                  width="120px"
                />
                <el-table-column prop="courseTime.endTime" label="結束" />
                <el-table-column
                  prop="statusReason"
                  label="狀態原因"
                  width="120px"
                />
                <el-table-column fixed="right" label="操作" width="120">
                  <template #default="scope">
                    <el-button
                      @click.prevent="deleteCourse(scope.$index, scope.row.id)"
                      type="text"
                      size="small"
                    >
                      移除
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </el-form>
        </div>
      </el-dialog>
    </div>
    <div class="resultArea">
      <el-table :data="form" style="width: 100%">
        <el-table-column label="姓名" width="120">
          <template #default="scope">
            <span
              style="cursor: pointer; color: rgb(0, 161, 254)"
              href=""
              @click="openStudentDailog(scope.row)"
              >{{ scope.row.name }}</span
            >
          </template>
        </el-table-column>
        <el-table-column prop="sexString" label="性別"> </el-table-column>
        <el-table-column prop="tel" label="學生家電" width="150px">
        </el-table-column>
        <el-table-column prop="phone" label="學生手機" width="150px">
        </el-table-column>
        <el-table-column prop="parentsName" label="家長姓名"> </el-table-column>
        <el-table-column prop="parentsPhone" label="家長手機" width="150px">
        </el-table-column>
        <el-table-column prop="school" label="就讀學校"> </el-table-column>
        <el-table-column prop="grade" label="年級"> </el-table-column>
        <el-table-column prop="class" label="班別"> </el-table-column>
        <el-table-column prop="parentsName" label="家長姓名"> </el-table-column>
        <el-table-column prop="type" label="學生類型"> </el-table-column>
        <el-table-column
          prop="payType"
          label="付款類型
"
        >
        </el-table-column>
        <el-table-column prop="sibling" label="兄弟姊妹"> </el-table-column>

        <el-table-column fixed="right" label="操作" width="120">
          <template #default="scope">
            <el-button
              @click.prevent="deleteRow(scope.$index, tableData)"
              type="text"
              size="small"
            >
              移除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { ElMessage } from "element-plus";
export default {
  name: "StudentMgmt",
  methods: {
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    deleteCourse(index, rows) {
      rows.splice(index, 1);
    },
    handleClose() {
      this.dialogVisible = false;
    },
    getAllStudent() {
      axios
        .get("https://localhost:5001/api/Student/GetAll")
        .then((response) => {
          this.form = response.data;
        });
    },
    openStudentDailog(row) {
      this.detailInfo = row;
      axios
        .get(
          `https://localhost:5001/api/StudentCourse/QueryStudentCourses?studentId=${row.id}`
        )
        .then((response) => {
          console.log(response.data[1]);
          console.log(response.data[1].studentCourseStatus);
          this.detailInfo.courseInfo = response.data;
        });
      this.dialogVisible = true;
    },
    onSubmit() {
      axios
        .put(`https://localhost:5001/api/Student/Put/${this.detailInfo.id}`, 
          this.detailInfo,
        )
        .then(() => {
          ElMessage({
            message: "修改成功!",
            type: "success",
          });
        })
        .catch((response)=>{
          ElMessage({
            message: `修改失敗! ${response.data}`,
            type: "success",
          });
        });
      this.dialogVisible = false;
    },
  },
  computed: {
    showData() {
      var arr = [];
      arr.push(this.form);
      return arr;
    },
  },
  created() {
    this.getAllStudent();
  },
  data() {
    return {
      dialogVisible: false,
      detailInfo: {
        name: "",
        sex: "",
        studentTel: "",
        studentPhone: "",
        parentName: "",
        parentPhone: "",
        school: "",
        grade: "",
        class: "",
        type: "",
        courseInfo: [
          {
            id: 0,
            studentCourseId: null,
            studentId: 0,
            grade: 0,
            courseName: "",
            teacherName: null,
            teacherId: 0,
            courseTime: {
              courseId: 0,
              weekDay: "0",
              startTime: "",
              endTime: "",
            },
            classType: 0,
            courseType: 0,
            courseTypeName: "",
            studentCourseStatus: "",
            statusReason: null,
          },
        ],
      },
      form: [
        {
          name: "",
          sex: "",
          studentTel: "",
          studentPhone: "",
          parentName: "",
          parentPhone: "",
          school: "",
          grade: "",
          class: "",
          type: "",
        },
      ],
      tableData: [],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  height: 100%;
}
.formArea {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
</style>
