<template>
  <div class="container">
    <el-form
      ref="form"
      :model="student"
      :rules="rules"
      label-width="80px"
      style="display: flex"
    >
      <div class="area">
        <h2>學生資訊</h2>

        <div>
          <el-form-item label="學生姓名" prop="Name">
            <el-input v-model="student.Name"></el-input>
          </el-form-item>
          <el-form-item label="性別" prop="Sex">
            <el-radio-group v-model="student.Sex">
              <el-radio :label="1">男</el-radio>
              <el-radio :label="2">女</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="學生家電" prop="Tel">
            <el-input v-model="student.Tel"></el-input>
          </el-form-item>
          <el-form-item label="學生手機" prop="Phone">
            <el-input v-model="student.Phone"></el-input>
          </el-form-item>
          <el-form-item label="家長姓名" prop="ParentsName">
            <el-input v-model="student.ParentsName"></el-input>
          </el-form-item>
          <el-form-item label="家長手機" prop="ParentsPhone">
            <el-input v-model="student.ParentsPhone"></el-input>
          </el-form-item>
          <el-form-item label="就讀學校" prop="School">
            <el-input v-model="student.School"></el-input>
          </el-form-item>
          <el-form-item label="年級" prop="Grade">
            <el-input-number v-model="student.Grade"></el-input-number>
          </el-form-item>
          <el-form-item label="班別" prop="Class">
            <el-input v-model="student.Class"></el-input>
          </el-form-item>
          <el-form-item label="學生類型" prop="Type">
            <el-radio-group v-model="student.Type">
              <el-radio :label="2">一般生</el-radio>
              <el-radio :label="4">低收入戶</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="付款類型" prop="PayType">
            <el-radio-group v-model="student.PayType">
              <el-row>
                <el-radio :label="1">單月繳</el-radio>
                <el-radio :label="2">雙月繳</el-radio>
                <el-radio :label="4">季繳</el-radio>
              </el-row>
              <el-row>
                <el-radio :label="8">半年繳</el-radio>
                <el-radio :label="16">計次繳</el-radio>
              </el-row>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="兄弟姊妹" prop="Sibling">
            <el-input v-model="student.Sibling"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">新增</el-button>
          </el-form-item>
        </div>
      </div>
      <div class="area">
        <h2>課程資訊</h2>
        <el-form-item label="課程" prop="Course">
          <el-select v-model="student.Course" multiple placeholder="課程">
            <el-option
              v-for="item in courseList"
              :key="item.id"
              :label="item.courseName"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
import axios from "axios";
import { ElMessage } from "element-plus";
export default {
  name: "StudentMgmt",
  created() {
    this.getCourseList();
  },
  methods: {
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    getCourseList() {
      axios
        .get("https://localhost:5001/api/Course/GetCourseNoCourseTime")
        .then((resp) => {
          this.courseList = resp.data;
        });
    },
    onSubmit() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          // alert("submit!");
          // var self = this;
          var studentId;
          axios
            .post("https://localhost:5001/api/Student/Post", this.student)
            .then((resp) => {
              studentId = resp.data;
              ElMessage({
                message: "新增成功!",
                type: "success",
              });

            axios
            .post("https://localhost:5001/api/StudentCourse/Post", {StudentId : studentId,StudentCourseId : this.student.Course })
            .then(() => {
              ElMessage({
                message: "新增成功!",
                type: "success",
              });
            });
            });

          
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
  computed: {
    showData() {
      var arr = [];
      arr.push(this.form);
      return arr;
    },
  },
  data() {
    return {
      student: {
        Name: "",
        Sex: null,
        Tel: "",
        Phone: "",
        ParentsName: "",
        ParentsPhone: "",
        School: "",
        Grade: null,
        Class: "",
        Type: null,
        Sibling: "",
        PayType: null,
        Course: [],
      },
      courseList: [],
      rules: {
        Name: [
          {
            required: true,
            message: "請輸入學生姓名",
            trigger: "blur",
          },
        ],
        Sex: [
          {
            required: true,
            message: "請選擇學生性別",
            trigger: "blur",
          },
        ],
        Tel: [
          {
            required: true,
            message: "請輸入學生家電",
            trigger: "blur",
          },
        ],
        Phone: [
          {
            required: true,
            message: "請輸入學生手機",
            trigger: "blur",
          },
        ],
        ParentsName: [
          {
            required: true,
            message: "請輸入家長姓名",
            trigger: "blur",
          },
        ],
        ParentsPhone: [
          {
            required: true,
            message: "請輸入家長手機",
            trigger: "blur",
          },
        ],
        School: [
          {
            required: true,
            message: "請輸入就讀學校",
            trigger: "blur",
          },
        ],
        Grade: [
          {
            required: true,
            message: "請輸入學生年級",
            trigger: "blur",
          },
        ],
        Class: [
          {
            required: true,
            message: "請輸入學生班別",
            trigger: "blur",
          },
        ],
        Type: [
          {
            required: true,
            message: "請輸入學生種類",
            trigger: "blur",
          },
        ],
        PayType: [
          {
            required: true,
            message: "請輸入付款類型",
            trigger: "blur",
          },
        ],
        Course: [
          {
            required: true,
            message: "請輸入付款類型",
            trigger: "blur",
          },
        ],
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  height: 100%;
  display: flex;
}
.area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
</style>
