<template>
  <div class="container">
    <div class="resultArea">
      <el-table :data="form" style="width: 100%">
        <el-table-column fixed prop="name" label="上課老師名稱" width="200px"></el-table-column>
        <el-table-column prop="tel" label="電話" width="200px"> </el-table-column>
        
    

        <el-table-column fixed="right" label="操作" width="120">
          <template #default="scope">
            <el-button
              @click.prevent="deleteRow(scope.$index, tableData)"
              type="text"
              size="small"
            >
              移除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "CourseMgmt",
  methods: {
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    getAllStudent() {
      axios
        .get("https://localhost:5001/api/Teacher/GetAll")
        .then((response) => {
          this.form = response.data;
        });
    },
  },
  computed: {
    showData() {
      var arr = [];
      arr.push(this.form);
      return arr;
    },
  },
  created() {
    this.getAllStudent();
  },
  data() {
    return {
      form: [
        {
          name: "",
          sex: "",
          studentTel: "",
          studentPhone: "",
          parentName: "",
          parentPhone: "",
          school: "",
          grade: "",
          class: "",
          type: "",
        },
      ],
      tableData: [],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  height: 100%;
}
.formArea {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
</style>
