<template>
  <div class="container">
    <div class="formArea">
      <el-form ref="form" :model="teacher" :rules="rules" label-width="120px">
        <el-form-item label="上課老師名稱" prop="name">
          <el-input v-model="teacher.name"></el-input>
        </el-form-item>
         <el-form-item label="老師電話" prop="tel">
          <el-input v-model="teacher.tel"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSubmit">新增</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { ElMessage } from "element-plus";
export default {
  name: "TeacherMgmt",
  methods: {
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    onSubmit() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          // alert("submit!");
          // var self = this;
          axios
            .post("https://localhost:5001/api/Teacher/Post", this.teacher)
            .then(() => {
              ElMessage({
                message: "新增成功!",
                type: "success",
              });
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },  
   
  },
  computed: {
    showData() {
      var arr = [];
      arr.push(this.form);
      return arr;
    },
  },
  data() {
    return {
      teacher: {
        name: "",
        tel: "",    
      },      
      rules: {
        name: [
          {
            required: true,
            message: "請輸入上課老師名稱",
            trigger: "blur",
          },
        ],
        tel: [
          {
            required: true,
            message: "請輸入電話",
            trigger: "blur",
          },
        ]
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  height: 100%;
}
.formArea {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.el-date-editor {
  margin: 8px;
}
.weekDay {
  margin: 5px 0;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
}
</style>
